body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: hsl(0, 0%, 20%);
}

.play_choice {
    margin-bottom: 30px;
}

.play_choice button {
    font-size: 2rem;
    min-width: 100px;
    margin-inline: 10px;
    padding: 10px;
    border-radius: 50%;
    background-color: hsl(240, 100%, 70%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.play_choice button:hover {
    background-color: hsl(240, 100%, 80%);
}

#choice_display, #NPC_display {
    font-size: 1.5rem;
}

#result {
    font-size: 1.7rem;
    margin-block: 30px;
    font-weight: bold;
}

.winingText, #playerScoreDisplay {
    color: hsl(120, 100%, 35%);
}

.losingText, #computerScoreDisplay {
    color: hsl(9, 95%, 50%);
}

.score {
    font-size: 2rem;
}

@media screen and (max-width:360px) {
    h1 {
        font-size: 1.5rem;
    }
    .play_choice button {
        min-width: none;
        margin-inline: 1px;
    }
}